{% extends "template.html" %}

{% block content %}
<header>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/members">Members</a></li>
        <li><a href="/classes">Classes</a></li>
        <li><a href="/attending">Attending</a></li>
    </ul> 
</header>

<h1> Edit {{ member.first_name }} {{ member.last_name }}</h1>

<form action="/members/{{ member.id }}/edit" method="POST">
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" value="{{ member.first_name }}">
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" value="{{ member.last_name }}">
    <button type="submit">Submit</button>
</form>

{% endblock %}