{% extends "template.html" %}

{% block content %}
<header>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/members">Members</a></li>
        <li><a class="active" href="/classes">Classes</a></li>
        <li><a href="/attending">Attending</a></li>
        <li><a href="/memberships">Memberships</a></li>
    </ul> 
</header>
<a href="/classes/add">Add a Class</a>
<ul>
    {% for class in classes %}
        <a href="/classes/{{ class.id }}">
        <li>{{ class.name }} {{ class.capacity }} {{ class.time }}</li>
        </a>
    {% endfor %}
</ul>
{% endblock %}