{% extends "template.html" %}

{% block content %}
<header>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/members">Members</a></li>
        <li><a href="/classes">Classes</a></li>
        <li><a href="/attending">Attending</a></li>
        <li><a class="active" href="/memberships">Memberships</a></li>
    </ul> 
</header>

<header class="secondary">
    <ul>
        <li><a href="/memberships">Membership List</a></li>
        <li><a class="active" href="/memberships/{{ membership.id }}">{{ membership.level }}</a></li>
        <li><a href="/memberships/add">Add Membership</a></li>
    </ul>
</header>
<div class="member-box">
        <h1>{{ membership.level}}</h1> 
        <h4>{{ membership.description }}</h4>

        <a href="/memberships/{{ membership.id }}/edit">Edit</a>
</div>
{% endblock %}